.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.content-wrapper {
  min-height: calc(100vh - 64px);
}

mat-sidenav-content {
    background-color: #f5f7fa; 
}